<%- include('../partials/header') %>

<section class="section container">
    <h2>Let's get started broadening the world...</h2>
    <form id="new-form" action="/artists/<%= profile.member.id %>/new" method="POST">

        <label>Artist Profile</label>
        <input name="message" type="text" required>
        <label>Mediums</label>
                <script>
                    $(document).ready(function(){
            $('select').formSelect();
            });
                </script>
        <select name="" id="">
            <% mediums.forEach(function(m) { %>
                <option value="<%= m.id %>"><%= m.mediumName %></option>
            <% }) %>
        </select>
        <label class="switch"> Open for Commission
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        
        <input type="submit" value="Start Your Adventure" class="btn">
    </form>
    </section>

<%- include('../partials/footer') %>